<div>
    <a class="alignRight" href="#/">Home</a>
</div>
<div>
    <ul class="nav nav-tabs" ng-controller="configurationTabCtrl">
        <li ng-class="peopleTabActive()"><a href="#/people">People</a></li>
        <li ng-class="rolesTabActive()"><a href="#/roles">Roles</a></li>
        <li ng-class="rotationsTabActive()"><a href="#/rotations">Rotations</a></li>
        <li ng-class="notificationsTabActive()"><a href="#/notifications">Notifications</a></li>
    </ul>
</div>
<div>
    <p><h2>Notifications</h2></p>
    <div ui-grid="gridOptions" class="grid"></div>
</div>