<div>
    <a class="alignRight" href="#/configuration">Configuration</a>
</div>
<div class="rotationGroup">
    <table>
        <tr>
            <td>
                <div>
                    <div>
                        <p><h2>Current Rotation</h2></p>
                    </div>
                    <div class="tiles">
                        <div class="tile"
                             ng-repeat="details in current">
                            <div class="role">
                                {{details.member.rotation.role.name}}
                            </div>
                            <div class="member">
                                {{details.member.person.fullName}}
                            </div>
                            <div class="time">
                                Days remaining: {{details.remainingDays}}
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div>
                        <p><h2>Next Rotation</h2></p>
                    </div>
                    <div class="tiles">
                        <div class="tile"
                             ng-repeat="details in next">
                            <div class="role">
                                {{details.member.rotation.role.name}}
                            </div>
                            <div class="member">
                                {{details.member.person.fullName}}
                            </div>
                            <div class="time">
                                Starting: {{details.startDate}}
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
