html, body {
  height: 100%;
}

body, div, p, ul, li {
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  padding: 20px;
  min-width: 320px;
}

.header {
  background-color: #3E3E3E;
  color: #ffffff;
  height: 40px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: xx-large;
  font-family: sans-serif;
}

.alignLeft {
  float: left;
}

.alignRight {
  float: right;
}

.tile {
  background-color: darkgray;
  border-left: 20px solid #ffffff;
  color: #ffffff;
  display: block;
  float: left;
  height: 100px;
  margin-bottom: 10px;
  padding: 6px 8px 6px 8px;
  position: relative;
  width: 25%;
}

.tiles {
  font-family: sans-serif;
}

.role {
  font-size: x-large;
  display: block;
  margin: 2px;
  padding-bottom: 20px;
}

.member {
  font-size: large;
  display: block;
  margin: 2px;
  padding-bottom: 20px;
}

.hidden {
  display: none;
}

[ng\:hide], [ng-hide], .ng-hide {
  display: none !important;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}